@charset "utf-8";
/* CSS Document */

body,td,th,p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5;
}

body {
  background-color: #f3f3f3;
  margin: 0;
  height: 100%;
  position:relative;
}

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}

a {
  color: orange;
  text-decoration: none;
}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}

a img{
  border: none 0px #fff;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}

article, 
aside, 
canvas, 
details, 
figcaption, 
figure, 
footer, 
header, 
hgroup, 
menu, 
nav, 
section {
  display: block;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  width: 100%;
}

#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer a {
  color: #ffdd00;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  display: flex;
  align-items: center;
}

nav h1 {
  margin: auto;
  padding-top: 20px;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    list-style: none;
    background-color: #f3f3f3;
    width: 100%;
    height: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 18pt;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */

#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: auto;
  background-color: #3397DB;
  align-items: center;
  padding: 25px 0;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #3298dc;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #3298dc;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #maincontent {
  margin-top: 180px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.inside #map-container {
  background: rgba(255, 255, 255, 0.15) none repeat scroll 0 0;
  height: 400px;
  width: 100%;
  padding: 0 40px;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  position: absolute;
  width: 100%;
}

#restaurant-name {
  color: #3298dc;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 30px 0;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
  border-top-left-radius: 80px 80px;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 99%;
}

#restaurant-container, #reviews-container, #restaurant-container2 {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 0 40px;
  width: 100%
}

#reviews-container h2 {
  color: #3298dc;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-top: 10px;
  text-align: center;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#reviews-list li>p:nth-child(1) {
  width: 68%;
  color: #ffdd00;
  font-size: 15pt;
  font-style: italic;
  background-color: #303030;
  border-top-left-radius: 80px 80px;
  padding-left: 15px;
}

#reviews-list li>p:nth-child(2) {
  width: 30%;
  color: #ffdd00;
  font-size: 15pt;
  background-color: #303030;
}

#reviews-list li>p:nth-child(3) {
  width: 18%;
  color: #080808;
  background-color: #ffdd00;
  text-align: center;
  font-size: 15pt;
}

#restaurant-hours td {
  color: #595959;
}

/* ====================== Media Queries ====================== */

@media only screen and (max-width: 767px) {
  #reviews-list li > p:nth-child(1) {
    width: 60%;
    padding-left: 25px;
  }
  #reviews-list li > p:nth-child(2) {
    font-size: 10pt;
  }
  #reviews-list li > p:nth-child(3) {
    width: 25%;
    font-size: 10pt;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .inside #map-container { 
    width: 95%;
    order: 1;
  } 

  #restaurant-container {
    width: 55%;
    order: 2;
  }

  #restaurant-container2 {
    width: 25%;
    order: 3;
    margin-top: 90px;
  }

  #reviews-container {
    width: 90%;
    order: 4;
  }
}

@media only screen and (min-width: 1025px) {
  .inside #map-container { 
    width: 50%;
    order: 1;
    height: 500px;
  } 

  #restaurant-container {
    width: 35%;
    order: 2;
  }

  #reviews-container {
    width: 60%;
    order: 3;
  }

  #restaurant-container2 {
    width: 25%;
    order: 4;
    margin-top: 30px;
  }

  #restaurant-img {
    height: 400px;
  }
}


